div#chart text.c3-axis-x-label {
  font-size: 14px;
  font-family: sans-serif;
}

div#chart text.c3-axis-y-label {
  font-size: 14px;
  font-family: sans-serif;
  margin: 15;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}
